{% extends "cms/base.html" %}
{% from "_macro.html" import static %}

{% block title %}分类管理{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ static('cms/css/navimages.css') }}">
    <script src="{{ static('cms/js/category.js') }}"></script>
{% endblock %}
{% block body_title %}文章分类管理{% endblock %}

{% block body%}
    <div class="top-container">
        <div class="dropdown select-block">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  分类等级<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{{ url_for('cms.category', name='parent') }}">一级分类</a></li>
                <li><a href="{{ url_for('cms.category', name='child') }}">二级分类</a></li>
              </ul>
        </div>
        <button class="btn btn-info add-category">添加分类</button>
    </div>
{% endblock %}